<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
       Hello, User!
      </div>
    </h2>
<div class="ui stacked secondary  segment">
	
Click Below To Book New Appointment <br /> <br />

<%= link_to 'New Appointment', new_appointment_path, class: "btn btn-primary" %>
</div>
</div>
</div>