<h1>Editing Appointment</h1>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Show', @appointment, class: "btn btn-info"  %> |
<%= link_to 'Back', appointments_path,  class: 'ui black button'  %>
