<div class="ui middle aligned center aligned grid">
  <div class="column">

<h1 class="ui image header">
      <div class="content">
       New Appointment
      </div>
 </h1>

<%= render 'form', appointment: @appointment %>

<%#= link_to 'Back', appointments_path,  class: 'ui black button' %>

</div>
</div>